*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: #222;
    overflow: hidden;
}

#main-container{
    height: 100%;
    display: grid;
    place-content: center;
}

#canvas-container{
    width: 100%;
    height: 100%;
}

#canvas{
    width: 100%;
    height: 100%;
}

#stats{
    position: absolute;
    top: 0;
    right: 0;
}

#stability{
    /* offset-x | offset-y | blur-radius | color */
    text-decoration: underline red;
    color: rgb(50, 143, 255);
}

td{
    min-width: 40px;
}

table{
    color: white;
    text-align: right;
}

#most-stable{
    color: cyan
}